h1 {
    text-align: center;
}

.logo_groupomania,
.logo_groupomania_private {
    width: 500px;
}

.image_index {
    width: 300px;
}

#blocDisconnectDelete {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#disconnect,
#delete {
    margin: 5px;
    width: 155px;
    border-radius: 15px;
    background-color: white;
    transform: scale(1);
    transition: 0.7s;
}

#disconnect:hover,
#delete:hover {
    background-color: black;
    color: white;
    transform: scale(1.15);
    transition: 0.7s;
}

header {
    text-align: center;
    background-color: #ffd7d7;
    margin: 0px;
    padding: 15px;
    border: 2px double gray;
    box-shadow: 1px 1px 12px grey;
}

#headersPublic,
#headersPrivate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffd7d7;
    margin: 0px;
    padding: 30px;
    border: 2px double gray;
    box-shadow: 1px 1px 12px grey;
    margin-bottom: 30px;
}

a {
    text-decoration: none;
    color: black;
}


/* ----------------------------- RESPONSIVE ------------------------ */

@media screen and (max-width: 550px) {
    .logo_groupomania,
    .logo_groupomania_private {
        width: 90vw;
    }
}

@media screen and (max-width: 900px) {
    #headersPrivate {
        flex-direction: column;
    }
}