.inscription_connexion {
    display: flex;
    justify-content: space-evenly;
}

.bloc_connexion,
.bloc_inscription {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-top: 100px;
}

.connexion,
.inscription {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.choix_inscription,
.choix_connexion,
.connexion_validation,
.inscription_validation {
    margin: 30px;
    width: 10vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    background-color: #ffd7d7;
    transform: scale(1);
    transition: 0.7s;
    display: flex;
    justify-content: center;
}

.connexion_validation:hover,
.inscription_validation:hover {
    background-color: #555cae;
    color: white;
    transform: scale(1.15);
    transition: 0.7s;
}

label {
    margin: 10px;
}

.choix_clique {
    display: flex;
    align-items: center;
    text-align: center;
}