.image_index {
    margin-top: 15px;
}

#titrePublic {
    text-align: center;
    border-bottom: 1px solid black;
    width: 80%;
    margin: 50px auto 80px auto;
}

.blocPublicCommentairePartage {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dae0e6;
    color: black;
    border-radius: 15px;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}

.connexionAfter {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.bloc_connexionAfter {
    display: flex;
    justify-content: center;
}

.cliqueConnexion {
    display: block;
    margin: 30px;
    width: 10vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    background-color: #ffd7d7;
    transform: scale(1);
    transition: 0.7s;
}

.cliqueConnexion:hover {
    background-color: #555cae;
    color: white;
    transform: scale(1.15);
    transition: 0.7s;
}

.inscription_connexion {
    display: flex;
    justify-content: space-evenly;
}

#inscriptionFormulaire {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.bloc_connexion,
.bloc_inscription {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-top: 30px;
}

#connexion,
#inscription {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#choix_inscription,
#choix_connexion,
#connexion_validation,
#inscription_validation,
#commentaire,
#partage {
    margin: 30px;
    width: 10vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    background-color: #ffd7d7;
    transform: scale(1);
    transition: 0.7s;
    display: flex;
    justify-content: center;
}

#connexion_validation:hover,
#inscription_validation:hover,
#commentaire:hover,
#partage:hover {
    background-color: #555cae;
    color: white;
    transform: scale(1.15);
    transition: 0.7s;
}

#commentaire_partage {
    display: flex;
}

label {
    margin: 10px;
}

.choix_clique {
    display: flex;
    margin-top: 130px;
    text-align: center;
}