h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

p {
    margin: 5px;
}

#soulignementTitre {
    border-bottom: 2px solid #ffd7d7;
}

#blocContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
}

strong {
    color: #3F6E6E;
}

#formulaireArticle,
#newArticle {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid gray;
    margin: 40px;
    border-radius: 15px;
    box-shadow: 1px 1px 12px gray;
    background-color: #FFFDFC;
    font-size: 1.1em;
    padding: 10px;
}

#formulaireTitreArticle {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    resize: none;
}

#blocArticle {
    margin-bottom: 50px;
}

#titreArticle,
#nomArticle,
.commentaires {
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: #EAECEC;
    margin-bottom: 20px;
}

#article {
    border-radius: 10px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: #EAECEC;
}

#allArticles {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}

#bloc_color {
    background-color: #dae0e6;
    width: 90%;
    border-radius: 40px;
    border-right: 2px solid black;
    border-left: 2px solid black;
    margin-left: auto;
    margin-right: auto;
}

#boutonArticle,
#boutonCommentaires,
#boutonPartager {
    margin: 15px;
    width: 10vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    border-color: black;
    background-color: white;
    color: black;
    transform: scale(1);
    transition: 0.7s;
    text-align: center;
}

#boutonArticle:hover,
#boutonCommentaires:hover,
#boutonPartager:hover {
    background-color: black;
    color: white;
    transform: scale(1.15);
    transition: 0.7s;
}

#titreNewArticle {
    font-size: 1.3em;
    font-weight: bold;
}