#image_article {
    box-shadow: 1px 1px 12px gray;
    padding: 10px;
    transform: scale(1);
    transition: 0.7s;
}

#image_article:hover {
    transform: scale(1.10);
    transition: 0.7s;
    box-shadow: 1px 1px 12px blue;
}

figcaption {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}